{% extends 'catalogue/base_site.html' %}

{% block content  %}
<h1> Here is the list of books you've borrowed: </h1>

{% if bookinstance_list %}
<ul>

    {% for bookinst in bookinstance_list %}
        <li class=" {% if bookinst.is_overdue %} text-danger{% endif %}">
                <a href="{% url 'book_detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
        </li>
    {% endfor %}
</ul>

{% else %}
    <p>There are no books borrowed</p>
{% endif %}
{% endblock %} 